<div id="signupSuccess" class="alert alert-success" style="display:none">
    <p id="signupSuccessText">
        Thanks for signing up! You'll be among the first to know when we launch.
    </p>
</div>
<div id="signupDuplicate" class="alert alert-success" style="display:none">
    <p id="signupDuplicateText">
        Fear not, you're already on the list! You'll be among the first to know when we launch.
    </p>
</div>
<div id="signupError" class="alert alert-info" style="display:none">
    <p id="signupErrorText">
        Well this is embarrassing. It looks like we're having trouble getting you on the list.
    </p>
</div>
<div class="jumbotron">
    <h1>The next big thing is coming...</h1>
    <p class="lead">
        We're pretty thrilled to unveil our latest creation. Sign up below to be notified when we officially launch!
    </p>
    <p>
        <a class="btn btn-lg btn-success" data-toggle="modal" href="#signupModal">Sign up today</a>
    </p>
</div>