Resources:
  XrayReinventBuilderQueue: 
    Type: AWS::SQS::Queue
  XrayReinventBuilderTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
      - Endpoint:
          Fn::GetOptionSetting: {DefaultValue: example@me.com, OptionName: XrayReinventBuilderEmail}
        Protocol: email
      - Endpoint:
          Fn::GetAtt: [XrayReinventBuilderQueue, Arn]
        Protocol: sqs
  AllowSNS2SQSPolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Id: PublicationPolicy
        Statement:
        - Action: ['sqs:SendMessage']
          Condition:
            ArnEquals:
              aws:SourceArn: {Ref: XrayReinventBuilderTopic}
          Effect: Allow
          Principal: {AWS: '*'}
          Resource:
            Fn::GetAtt: [XrayReinventBuilderQueue, Arn]
          Sid: Allow-SNS-SendMessage
        Version: '2008-10-17'
      Queues:
      - {Ref: XrayReinventBuilderQueue}
