option_settings:
  aws:elasticbeanstalk:customoption:
    XrayReinventBuilderEmail: lschejtm@amazon.com
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: "PROD"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    API_ID: '`{"Ref" : "XrayReinventBuilderApi"}`'
    DDB_TABLE: '`{"Ref" : "XrayReinventBuilderTable"}`'
    SNS_TOPIC: '`{"Ref" : "XrayReinventBuilderTopic"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
    NodeCommand: "npm start"
    NodeVersion: 8.12.0
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
  aws:elasticbeanstalk:xray:
    XRayEnabled: true
