option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: lschejtm@amazon.com
  aws:elasticbeanstalk:application:environment:
    API_ID: '`{"Ref" : "GreetingApi"}`'
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    DDB_TABLE: '`{"Ref" : "StartupSignupsTable"}`'
    SNS_TOPIC: '`{"Ref" : "NewSignupTopic"}`'
    ENVIRONMENT: "PROD"
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
    NodeCommand: "npm start"
    NodeVersion: 8.12.0
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
  aws:elasticbeanstalk:xray:
    XRayEnabled: true
